$selection-color: #4488FF;
$selection-color: green;
$selection-color: deeppink;
$selection-color: darkorange;
$selection-color: purple;
$selection-color: #3472dc;

/**************************************
 * Global attributes
 */
html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // font-family:Arial, Helvetica, sans-serif;
}
body {
  height: auto;
  width: auto;
}

/**************************************
 * Functions
 */
//  @function box-sizing ($type: border-box){
//   // -webkit-box-sizing: $type;
//   // -moz-box-sizing:    $type;
//   $box-sizing: $type;
//   @return ($box-sizing);
// }

/**************************************
 * Containers
 */
div.row-column-header-container,
div.column-header-container,
div.row-header-container,
div.body-container {
  display: inline-block;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
div.row-column-header-container,
div.column-header-container,
div.row-header-container,
div.body-container {
  z-index: 10;
}
div.scroll-container {
  overflow: scroll;
  position: absolute;
  z-index: 0;
}
div.scroll-container-shim {
  position: absolute;
  z-index: 0;
}

/**************************************
 * table Grid
 */
table.grid-table {
  // border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.80em;
  position: absolute;
  table-layout: fixed;
  z-index: 10;

  colgroup {
    col {
      width: 100px;
    }
  }
  tbody {
    tr {
      td,
      th {
        border-color: #ddd;
        border-style: solid;
        border-width: 0 1px 1px 0;
        box-sizing: border-box;
        height: 25px;
        outline: none;
        outline: none;
        overflow: hidden;
        padding: 0px;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
      }
      th {
        background-color: #eee;
        border-color: #bbb;
        font-weight: normal;
      }
      td {
        input {
          background-color: #ccc;
          border-width: 0;
          font-size: inherit;
          height: 100%;
          margin: 0;
          outline: none;
          padding: 3px;
          width: 100%;
        }
        div {
          box-sizing: border-box;
          height: 100%;
          padding: 3px;
        }
      }
    }
  }
}

/**************************************
 * div Grid
 */
div.grid-table {
  box-sizing: border-box;
  display: table;
  height: 100%;
  table-layout: fixed;
  width: 100%;
  z-index: 10;
  div { // grid-body
    display: table-row-group;

    div { // .grid-row
      box-sizing: border-box;
      display: table-row;
      height: 25px;
  
      div { //.grid-header-cell, .grid-cell
        &:first-child {
          width: 50px;
        }
        border-color: #ddd;
        border-style: solid;
        border-width: 0 1px 1px 0;
        box-sizing: border-box;
        display: table-cell;
        font-size: 0.80em;
        height: 100%;
        outline: none;
        overflow: hidden;
        padding: 0 3px;
        position: relative;
        user-select: none;
        vertical-align: middle;
        white-space: nowrap;
        width: 100px;
        z-index: 10;
      }
      div.grid-header-cell {
        background-color: #eee;
        border-color: #bbb;
        text-align: center;
        vertical-align: middle;
      }
    }
  }
}

/**************************************
 * focus, selection & resizer
 */
div.focus-rect {
  border: 1px solid $selection-color;
  display: none;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 20;
}
div.select-rect {
  background-color: $selection-color;
  display: none;
  height: 0px;
  opacity: 0.15;
  position: absolute;
  width: 0px;
  z-index: 8;
}
div.select-rect-resizer {
  background-color: $selection-color;
  border: 1px solid white;
  cursor: crosshair;
  display: block;
  display: none;
  height: 5px;
  position: absolute;
  width: 5px;
  z-index: 20;
}
div.select-rect-border {
  background-color: $selection-color;
  display: none;
  height: 0px;
  position: absolute;
  width: 0px;
  z-index: 20;
}
div.horizontal-resizer, div.vertical-resizer {
  &:hover {
    background-color: $selection-color;
  }
  background-color: $selection-color;
  display: none;
  opacity: 0.5;
  position: absolute;
  z-index: 11;
}
div.horizontal-resizer {
  cursor: e-resize;
  width: 6px;
}
div.vertical-resizer {
  cursor: s-resize;
  height: 6px;
}
div.horizontal-resizer-line {
  background-color: $selection-color;
  display: none;
  position: absolute;
  width: 1px;
  z-index: 10;
}